@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'slick';
@import 'slick-theme';

$base-grid: (
    columns: 12,
    gutter: 20px,
);

// color
$base: #000000;

body {
    background: $base;

    .nav-contents {
        list-style: none;
    }

    .post-wrapper {
        @include grid-container;

        .post-container {
            @include grid-column(4, $base-grid);

            .post-img img {
                max-width: 100%;
                max-height: 100%;
        }
      }
    }
}
